.subtitle {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 2rem;
}

.container {
    margin-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
