.main {
    display: flex;
    height: 100vh;
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem 3rem;
}

.title {
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
    font-weight: 200;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.left,
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left {
    padding: 2rem 3rem;
}

input,
button {
    color: #0d6efd;
    text-align: center;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border: none;
    background-color: transparent;
    outline: none;
}

input {
    border-bottom: thin solid #0d6efd;
}

input::placeholder {
    color: #0d6efd;
}

button {
    background-color: #0d6efd;
    color: #fff;
    padding: .8rem 1rem;
    transition: .2s ease-in;
    cursor: pointer;
}

/* button:hover {
    color: #0d6efd;
    background-color: transparent;
    border: thin solid #0d6efd;
} */

.disabled {
    background-color: #fff;
    color: #666;
    cursor: default;
}

.disabled {
    border: thin solid #666;
    color: #666;
}

.image-pokemon,
.space {
    width: 280px;
}

.purple {
    background-color: #8c41c9;
}

.bg-primary {
    background-color: #0d6efd;
}

/* Secondary (secundario) */
.bg-secondary {
    background-color: #6c757d;
}

/* Success (éxito) */
.bg-success {
    background-color: #198754;
}

/* Danger (peligro) */
.bg-danger {
    background-color: #dc3545;
}

/* Warning (advertencia) */
.bg-warning {
    background-color: #ffc107;
}

/* Info (información) */
.bg-info {
    background-color: #0dcaf0;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

@media screen and (max-width: 760px) {
    .App {
        flex-direction: column;
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .App {
        padding: 0;
        padding-top: .5rem;
        margin: auto;
    }

    .left {
        padding: 0;
        padding-bottom: 1rem;
    }

    .title {
        margin: 0;
        margin-bottom: 1rem;
    }
    .main {
        margin: auto;
    }

}